.apply-to-team {
  width: 343px;
  margin: 0 auto;
  min-height: 320px;
  .button-back {
    margin-top: 36px;
  }
  .apply-to-team__button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 92px;
    display: flex;
    padding: 16px 16px 28px 16px;
    background: #232b39;
    box-sizing: border-box;
    border: 1px solid #3b465a;
    box-shadow: inset 0 0 10px 2px #262f3f;
    border-radius: 16px 16px 0 0;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .apply-to-team {
    width: 660px;
    .button-back {
      margin-top: 46px;
    }
    h2 {
      margin-bottom: 20px;
    }
    .technologi-picker h2 {
      margin-top: 40px;
      font-weight: 500;
      font-size: 17px;
      line-height: 32px;
    }
    .technologi-picker .technologi-picker__title {
      margin-top: 20px;
    }
    .apply-to-team__button {
      position: relative;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      border: none;
      border-top: 1px solid #4e5a71;
      margin-top: 32px;
      padding: 32px 0 0 0;
    }
  }
}
