.challenge-page {
  color: #fff;
}

.challenge-task {
  margin-top: 40px;
  max-width: 831px;
  padding: 0 16px;

  .standard-label .standard-input {
    padding-left: 16px;
  }

  .challenge-task__header {
    display: flex;
    align-items: center;

    h2 {
      margin-left: 0;
      margin-bottom: 12px;
      max-width: 60%;
    }

    .challenge-task__header__startup-state {
      margin-left: 16px;
      padding: 2px 12px;
      margin-top: 4px;

      &.in_progress {
        background: #3cc28d;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        box-shadow: 0 -2px 8px rgba(60, 194, 141, 0.3),
          0 2px 8px rgba(60, 194, 141, 0.3);
        border-radius: 14px;
      }

      &.finished {
        background: #f0663b;
        box-shadow: -4px 0 6px 1px rgba(240, 102, 59, 0.25),
          4px 0 6px 1px rgba(240, 102, 59, 0.25);
        border-radius: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .startup-card__started-start-time {
    display: flex;
    margin-bottom: 32px;

    h3 {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #8c97ac;
      margin: 0;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      padding: 0;
    }

    .started-start-time__finished,
    .started-start-time__duration {
      width: 164px;
    }

    .started-start-time__duration {
      margin-left: 16px;
    }
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .request-feedback {
    .existing-sources {
      margin-bottom: 16px;

      p {
        margin: 0;
        margin-bottom: 8px;
      }
    }
  }

  .challenge-task__button {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 16px 16px 28px 16px;
    background: #232b39;
    border: 1px solid #3b465a;
    box-shadow: inset 0 0 10px 2px #262f3f;
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    z-index: 8;
  }

  .startup-card__sources h3 {
    margin-bottom: 16px;
  }

  .challenge-task__header-menu-list {
    background: #2e384a;
    box-shadow: 0 8px 24px rgba(28, 35, 48, 0.2);
    border-radius: 12px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;

    button {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 500;
      font-size: 17px;
      line-height: 32px;
      padding: 8px 24px;
      box-sizing: border-box;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .challenge-task__feedBacks-sources {
    margin-top: 40px;
  }

  .cancel-participation__popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(59, 70, 90, 0.6);
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel-participation__popup__content {
      position: relative;
      width: 343px;
      height: 304px;
      background: #232b39;
      border-radius: 12px;
      padding: 16px;
      box-sizing: border-box;

      .u-button-gray {
        margin-top: 16px;
        width: 100%;
      }

      h2 {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        margin-top: 32px;
        margin-bottom: 24px;
      }

      .sign-up-link__close {
        position: absolute;
        right: 10px;
        top: 16px;
        background: transparent;
      }
    }
  }

  .waiting-feedback {
    margin-top: 56px;

    h3 {
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      display: flex;
      align-items: center;

      span {
        width: 24px;
        height: 24px;
        box-shadow: 0 -2px 8px rgba(234, 244, 44, 0.3),
          0 2px 8px rgba(234, 244, 44, 0.3),
          inset 0 -2px 4px 1px rgba(117, 122, 14, 0.15),
          inset 0 1px 4px rgba(255, 255, 255, 0.15);
        border-radius: 14px;
        background: #eaf42c;
        color: #4e5a71;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-left: 8px;
        display: inline-block;
      }
    }

    .waiting-feedback__card {
      padding: 12px 12px 16px 20px;
      box-sizing: border-box;
      background: #2e384a;
      box-shadow: 0 8px 24px rgba(28, 35, 48, 0.2);
      border-radius: 12px;
      display: inline-block;
      width: 100%;
      margin-bottom: 16px;
    }

    .waiting-feedback__card-content {
      display: flex;
      justify-content: space-between;

      button {
        background: transparent;
      }
    }

    .waiting-feedback__card-person {
      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
      }

      p {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #8c97ac;
      }
    }
  }

  .used-technologies {
    h3 {
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 24px;
      margin-top: 24px;
    }

    .tags-item {
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      color: #b5c1d8;
      padding: 0 16px;
      margin-bottom: 8px;
    }
  }
}
@media (min-width: 768px) {
  .challenge-task {
    padding: 0;
    margin-top: 48px;
    margin-left: 48px;

    .standard-label .standard-input {
      padding-left: 24px;
    }

    .challenge-task__header {
      h2 {
        max-width: 85%;
      }

      .challenge-task__header__startup-state {
        margin-top: 36px;
      }
    }

    h2 {
      margin-bottom: 24px;
      margin-right: 0;
    }

    .request-feedback h2 {
      margin-bottom: 12px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      margin-top: 40px;
      // margin-bottom: 60px;
      margin-bottom: 32px;
      max-width: 660px;
    }

    .challenge-task__button {
      position: static;
      border: none;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      // padding: 32px 0 16px 0;
      width: 195px;
      // height: 56px;
      padding: 0;
      box-sizing: border-box;
      margin-top: 0;
    }

    .startup-card__started-start-time {
      .started-start-time__finished,
      .started-start-time__duration {
        width: 135px;
        margin-top: 14px;
      }
    }

    .challenge-task__header-menu-list {
      position: absolute;
      right: 30px;
      top: 216px;
      width: 318px;

      button {
        padding: 12px 24px;
      }
    }

    .participant-solution__title {
      font-weight: 600;
      font-size: 35px;
      line-height: 40px;
    }

    .u-button-gray {
      width: 241px;
      height: 48px;
    }

    .request-feedback {
      .existing-sources {
        margin-bottom: 24px;
      }
    }

    .cancel-participation__popup {
      .cancel-participation__popup__content {
        width: 564px;
        height: 256px;
        padding: 24px;

        h2 {
          margin-top: 24px;
          margin-bottom: 24px;
          font-weight: bold;
          font-size: 35px;
          line-height: 40px;
        }

        .cancel-participation__popup__buttons {
          display: flex;

          .u-button-gray {
            margin-top: 0;
            height: 56px;
            margin-left: 24px;
          }
        }
      }
    }

    .waiting-feedback {
      margin-top: 56px;

      h3 {
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
      }

      .waiting-feedback__card {
        padding: 16px 16px 16px 24px;
        width: auto;
        margin-bottom: 0;
        margin-right: 16px;
      }

      .waiting-feedback__card-person {
        margin-right: 24px;

        span {
          font-size: 17px;
          line-height: 32px;
        }

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .u-button.add-feedback {
    margin-top: 32px;
    margin-bottom: 16px;
    min-height: 56px;
  }

  .used-technologies {
    h3 {
      font-weight: 600;
      font-size: 35px;
      line-height: 40px;
    }
  }
}
