html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

body {
  font-family: $font-stack;
  background-color: $background-color;
}
input {
  outline: none;
}
textarea {
  overflow: hidden;
  outline: none;
}
button {
  color: $button-color;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  outline: none;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #8c97ac !important;
}

li {
  list-style: none;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(59, 70, 90, 0.6);
  backdrop-filter: blur(16px);
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  // padding-top: 238px;
  // padding-bottom: 238px;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  box-sizing: inherit;
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background: rgba(59, 70, 90, 0.6);
  backdrop-filter: blur(16px);
  height: 100vh;
  width: 100vw;
  z-index: 12;
}
.loader-content {
  position: absolute;
  top: 50%;
  right: 50%;
}
.v-spinner .v-moon2 {
  box-shadow: -2px 0 8px rgba(98, 149, 252, 0.8),
    2px 0 8px rgba(98, 149, 252, 0.8);
}
.v-spinner .v-moon3 {
  box-shadow: inset 2px -1px 8px rgba(35, 43, 57, 0.5);
  opacity: 1 !important;
  background: transparent;
  border-color: #4e5a71 !important;
}
