html {
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
}

body {
    font-family: $font-stack;
    background-color: $background-color;
}

button {
    color: $button-color;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 17px;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: #8c97ac!important;
}

li {
    list-style: none;
}