html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

body {
  font-family: $font-stack;
  background-color: $background-color;
}
input {
  outline: none;
}
textarea {
  overflow: hidden;
  outline: none;
}
button {
  color: $button-color;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  outline: none;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #8c97ac !important;
}

li {
  list-style: none;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(59, 70, 90, 0.6);
  backdrop-filter: blur(16px);
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  // padding-top: 238px;
  // padding-bottom: 238px;
  overflow-x: hidden;
  overflow-y: auto;
}
