    .createProgect {
        width: 343px;
        margin: 0 auto;
        color: $main-text-color;
        min-height: 650px;
        h2 {
            font-weight: bold;
            font-size: 36px;
            line-height: 40px;
            margin-top: 24px;
        }
        .createProgect-step1__progress-bar {
            width: 343px;
            height: 12px;
            background: #232B39;
            border: 1px solid #4E5A71;
            box-sizing: border-box;
            box-shadow: inset 2px -1px 8px rgba(78, 100, 141, 0.5);
            border-radius: 16px;
            .createProgect__progress-bar {
                background: #6295FC;
                box-shadow: -2px 0px 8px rgba(98, 149, 252, 0.8), 2px 0px 8px rgba(98, 149, 252, 0.8);
                border-radius: 14px;
                width: 85.75px;
                height: 12px;
                transition: 1s;
            }
            .progress-bar__stepTwo {
                width: 171.5px;
                transition: 1s;
            }
        }
        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-top: 34px;
            margin-bottom: 8px;
        }
        input,
        .start-date__row,
        .finish-date__row {
            background-color: #2E384A;
            border-radius: 12px;
            border: none;
            color: #B5C1D8;
            width: 340px;
            height: 48px;
            padding-left: 16px;
            box-sizing: border-box;
            margin-top: 0px;
            &::placeholder {
                color: #B5C1D8;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .startup__description h4 {
            margin-top: 24px;
        }
        textarea {
            background: #2E384A;
            border-radius: 12px;
            width: 343px;
            height: 136px;
            padding: 8px 16px;
            box-sizing: border-box;
            border: none;
            color: #B5C1D8;
            &::placeholder {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #B5C1D8;
            }
        }
        .startup__start-date,
        .startup__finish-date {
            h4 {
                margin-top: 20px;
                margin-bottom: 0;
            }
            .start-date__row,
            .finish-date__row {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 340px;
                margin-top: 10px;
                img {
                    // margin-top: 10px;
                    width: 24px;
                    height: 24px;
                }
                div {
                    margin-right: 16px;
                    margin-left: 0px;
                }
                .start-date__col1,
                .finish-date__col1 {
                    width: 43px;
                    input {
                        padding-left: 6px;
                        padding-right: 6px;
                        width: 43px;
                        margin-left: 10px;
                        border-right: 1px solid #4E5A71;
                        height: 24px;
                        border-radius: 0;
                        &::-webkit-inner-spin-button {
                            display: none;
                        }
                    }
                }
                .start-date__col2,
                .finish-date__col2 {
                    width: 46px;
                    margin-right: 8px;
                    input {
                        padding-left: 6px;
                        padding-right: 6px;
                        width: 46px;
                        border-right: 1px solid #4E5A71;
                        height: 24px;
                        border-radius: 0;
                        &::-webkit-inner-spin-button {
                            display: none;
                        }
                    }
                }
                .start-date__col3,
                .finish-date__col3 {
                    width: 56px;
                    input {
                        padding-left: 6px;
                        padding-right: 6px;
                        width: 56px;
                        height: 24px;
                        border-radius: 0;
                        &::-webkit-inner-spin-button {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    .createProgect-step2 {
        h2 {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            margin-top: 35px;
            margin-bottom: 13px;
        }
        h3 {
            width: 340px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            margin-top: 0;
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-top: 32px;
            margin-bottom: 10px;
        }
        .specialityOne__item {
            width: 340px;
            height: 48px;
            background: #2E384A;
            color: #B5C1D8;
            border-radius: 12px;
            padding: 8px 16px;
            box-sizing: border-box;
            cursor: pointer;
        }
        ul {
            margin-top: 4px;
        }
        .specialityOne__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            position: relative;
            img {
                transform: rotate(90deg);
                margin-right: 5px;
                transition: 1s
            }
        }
        .specialityOne__item-list {
            width: 340px;
            background: #2E384A;
            border-radius: 12px;
            box-sizing: border-box;
            position: absolute;
            padding: 0;
            .specialityOne__item-item {
                width: 100%;
                height: 48px;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                position: relative;
                padding: 8px 16px;
                box-sizing: border-box;
                cursor: pointer;
                &:first-child {
                    border-radius: 12px 12px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 12px 12px;
                }
                &:hover {
                    background: #4E5A71;
                }
                &:active {
                    background: #4B4AC8;
                }
            }
        }
        .specialityOne__button {
            width: 340px;
            height: 40px;
            box-shadow: inset 0px -2px 4px 1px rgba(48, 92, 178, 0.15), inset 0px 1px 4px rgba(255, 255, 255, 0.15);
            border-radius: 12px;
            background: #4B4AC8;
            margin: 24px 0px;
            margin-bottom: 30px;
            &:hover {
                background-color: $button-color-blue-hover;
            }
            &:focus {
                background-color: $button-color-blue-focus
            }
            &:active {
                background-color: $button-color-blue-active
            }
        }
        h5 {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
        .invite-collegues {
            padding-top: 33px;
            border-top: 1px solid #4E5A71;
        }
        .invite-collegues h5 {
            margin-top: 0px;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                margin: 0;
            }
        }
        .invite-collegues__button {
            width: 343px;
            height: 40px;
            background: #3B465A;
            box-shadow: inset 0px -2px 4px 1px rgba(48, 92, 178, 0.15), inset 0px 1px 4px rgba(255, 255, 255, 0.15);
            border-radius: 12px;
            &:hover {
                background-color: $button-color-gray-hover;
            }
            &:focus {
                background-color: $button-color-gray-focus
            }
            &:active {
                background-color: $button-color-gray-active
            }
        }
    }
    
    .technologi-popup__pick-technology {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(59, 70, 90, 0.6);
        backdrop-filter: blur(16px);
        min-height: 100vh;
        width: 100vw;
        .pick-technology__content {
            max-width: 375px;
            box-sizing: border-box;
            height: 604px;
            margin: 0 auto;
            background: #232B39;
            border-radius: 12px;
            margin-top: 32px;
            padding-top: 1px;
            h2 {
                font-weight: bold;
                font-size: 26px;
                line-height: 32px;
                margin: 40px 24px 30px 24px;
                span {
                    white-space: nowrap
                }
            }
            .step-1__experience {
                margin-left: 24px;
                margin-right: 12px;
            }
            input {
                margin-top: 5px;
                margin-left: 24px;
                width: 316px;
            }
        }
    }
    
    @media(min-width: 768px) {
        .createProgect {
            width: 660px;
            // min-height: 1061px;
            .apply-to-team-btn-back {
                padding-left: 0;
            }
            h2 {
                font-weight: bold;
                font-size: 56px;
                line-height: 64px;
                margin-top: 55px;
                margin-bottom: 38px;
            }
            .createProgect-step1__progress-bar {
                width: 660px;
                height: 12px;
                .createProgect__progress-bar {
                    width: 165px;
                }
                .progress-bar__stepTwo {
                    width: 330px;
                }
            }
            h4 {
                font-weight: 500;
                font-size: 17px;
                line-height: 32px;
                margin-top: 40px;
            }
            input,
            .start-date__row,
            .finish-date__row {
                width: 660px;
                height: 56px;
                padding-left: 24px;
                &::placeholder {
                    font-size: 18px;
                    line-height: 32px;
                }
            }
            textarea {
                width: 660px;
                height: 136px;
                padding: 12px 24px;
                &::placeholder {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            .startup__start-date,
            .startup__finish-date {
                .start-date__row,
                .finish-date__row {
                    width: 660px;
                    .start-date__col1,
                    .finish-date__col1 {
                        width: 43px;
                        input {
                            padding-left: 6px;
                            padding-right: 6px;
                            width: 43px;
                            margin-left: 10px;
                            border-right: 1px solid #4E5A71;
                            height: 24px;
                            border-radius: 0;
                            &::-webkit-inner-spin-button {
                                display: none;
                            }
                        }
                    }
                    .start-date__col2,
                    .finish-date__col2 {
                        width: 46px;
                        margin-right: 8px;
                        input {
                            padding-left: 6px;
                            padding-right: 6px;
                            width: 46px;
                            border-right: 1px solid #4E5A71;
                            height: 24px;
                            border-radius: 0;
                            &::-webkit-inner-spin-button {
                                display: none;
                            }
                        }
                    }
                    .start-date__col3,
                    .finish-date__col3 {
                        width: 60px;
                        input {
                            padding-left: 6px;
                            padding-right: 6px;
                            width: 60px;
                            height: 24px;
                            border-radius: 0;
                            &::-webkit-inner-spin-button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .createProgect-step2 {
            h2 {
                font-weight: 600;
                font-size: 35px;
                line-height: 40px;
                margin-top: 40px;
                margin-bottom: 18px;
            }
            h3 {
                width: 660px;
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
            }
            p {
                margin-bottom: 14px;
            }
            .specialityOne__item {
                width: 660px;
                height: 56px;
                padding: 12px 24px;
            }
            ul {
                margin-top: 4px;
            }
            .specialityOne__item {
                font-size: 18px;
                line-height: 32px;
            }
            .specialityOne__item-list {
                width: 660px;
            }
            .specialityOne__button {
                width: 169px;
                height: 48px;
            }
            .invite-collegues h5 {
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
                p {
                    font-size: 17px;
                    line-height: 24px;
                    display: inline;
                }
            }
            .invite-collegues__button {
                width: 182px;
                height: 48px;
            }
        }
    }