.createProject {
  width: 343px;
  margin: 0 auto;
  color: $main-text-color;
  min-height: 650px;

  // .specialityOne__list {
  //   position: relative;
  //   .button-remove-speciality {
  //     position: absolute;
  //     top: 15px;
  //     right: 0;
  //     background-color: transparent;
  //   }
  // }

  .input-add__input {
    min-height: 10px;
    height: auto;
  }
  .button-back {
    margin-top: 38px;
  }
  .createProject-step1__progress-bar {
    width: 343px;
    height: 12px;
    background: #232b39;
    border: 1px solid #4e5a71;
    box-sizing: border-box;
    box-shadow: inset 2px -1px 8px rgba(78, 100, 141, 0.5);
    border-radius: 16px;
    .createProject__progress-bar {
      background: #6295fc;
      box-shadow: -2px 0 8px rgba(98, 149, 252, 0.8),
        2px 0 8px rgba(98, 149, 252, 0.8);
      border-radius: 14px;
      width: 85.75px;
      height: 12px;
      transition: 1s;
      position: relative;
      top: -1px;
      left: -1px;
    }
    .progress-bar__stepTwo {
      width: 171.5px;
      transition: 1s;
    }
    .progress-bar__stepThree {
      width: 257px;
    }
    .progress-bar__stepFour {
      width: 343px;
    }
  }
  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
    margin-bottom: 8px;
  }

  .button_pick_technologes {
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    color: #8c97ac;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0;
    display: block;
    margin-top: 16px;
    &:hover {
      text-decoration: underline;
    }
  }

  input,
  .start-date__row,
  .finish-date__row {
    background-color: #2e384a;
    border-radius: 12px;
    border: none;
    color: #fff;
    width: 340px;
    height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-top: 0;
    &::placeholder {
      color: #b5c1d8;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .startup__description h4 {
    margin-top: 24px;
  }
  textarea {
    background: #2e384a;
    border-radius: 12px;
    width: 343px;
    height: 136px;
    padding: 8px 16px;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    border: 2px solid transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    &:focus {
      border: 2px solid #b5c1d8;
    }
    &::placeholder {
      color: #b5c1d8;
    }
  }
  .guide-comments {
    width: 304px;
    height: 48px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 32px;
  }
  .startup__start-date,
  .startup__finish-date {
    h4 {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .start-date__row,
    .finish-date__row {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 340px;
      margin-top: 10px;
      img {
        width: 24px;
        height: 24px;
      }
      div {
        margin-right: 16px;
        margin-left: 0;
      }
      .start-date__col1,
      .finish-date__col1 {
        width: 43px;
        input {
          padding-left: 6px;
          padding-right: 6px;
          width: 43px;
          margin-left: 10px;
          border-right: 1px solid #4e5a71;
          height: 24px;
          border-radius: 0;
          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
      .start-date__col2,
      .finish-date__col2 {
        width: 46px;
        margin-right: 8px;
        input {
          padding-left: 6px;
          padding-right: 6px;
          width: 46px;
          border-right: 1px solid #4e5a71;
          height: 24px;
          border-radius: 0;
          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
      .start-date__col3,
      .finish-date__col3 {
        width: 56px;
        input {
          padding-left: 6px;
          padding-right: 6px;
          width: 56px;
          height: 24px;
          border-radius: 0;
          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
    }
  }
  .createProject-step1__buttons,
  .edit-profile__buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 92px;
    display: flex;
    padding: 16px 16px 28px 16px;
    background: #232b39;
    box-sizing: border-box;
    border: 1px solid #3b465a;
    box-shadow: inset 0 0 10px 2px #262f3f;
    border-radius: 16px 16px 0 0;
    justify-content: space-between;
    z-index: 5;
    .u-button {
      width: 163px;
    }
  }
}
.createProject ~ .main-footer {
  padding-bottom: 75px;
}

.createProject-step2,
.createProject-step3 {
  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin-top: 35px;
    margin-bottom: 13px;
  }
  h3 {
    width: 340px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 28px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  ul {
    margin-top: 4px;
  }
  .existing-sources__add-link {
    margin-top: 15px;
    .u-button {
      height: 40px;
      font-size: 17px;
      line-height: 32px;
    }
  }
  // .specialityOne__item {
  //   width: 340px;
  //   height: 48px;
  //   background: #2e384a;
  //   color: #b5c1d8;
  //   border-radius: 12px;
  //   padding: 8px 16px;
  //   box-sizing: border-box;
  //   cursor: pointer;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   font-weight: normal;
  //   font-size: 16px;
  //   line-height: 32px;
  //   position: relative;
  //   transition: 0.4s;
  //   img {
  //     transform: rotate(90deg);
  //     margin-right: 5px;
  //     transition: 1s;
  //   }
  // }
  // .specialityOne__item.item-chosen {
  //   width: 304px;
  // }
  // .specialityOne__item-list {
  //   width: 340px;
  //   background: #2e384a;
  //   border-radius: 12px;
  //   box-sizing: border-box;
  //   position: absolute;
  //   padding: 0;
  //   z-index: 2;
  //   .specialityOne__item-item {
  //     width: 100%;
  //     height: 48px;
  //     font-weight: normal;
  //     font-size: 16px;
  //     line-height: 32px;
  //     position: relative;
  //     padding: 8px 16px;
  //     box-sizing: border-box;
  //     cursor: pointer;
  //     &:first-child {
  //       border-radius: 12px 12px 0 0;
  //     }
  //     &:last-child {
  //       border-radius: 0 0 12px 12px;
  //     }
  //     &:hover {
  //       background: #4e5a71;
  //     }
  //     &:active {
  //       background: #4b4ac8;
  //     }
  //   }
  // }
  .specialityOne__button {
    width: 340px;
    height: 40px;
    box-shadow: inset 0 -2px 4px 1px rgba(48, 92, 178, 0.15),
      inset 0 1px 4px rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    background: #4b4ac8;
    margin: 24px 0;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;

    &:hover {
      background-color: $button-color-blue-hover;
    }
    &:focus {
      background-color: $button-color-blue-focus;
    }
    &:active {
      background-color: $button-color-blue-active;
    }
  }
  h5 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
  }
  .invite-colleagues {
    padding-top: 33px;
    border-top: 1px solid #4e5a71;
  }
  .invite-colleagues h5 {
    margin-top: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      display: inline;
    }
  }
  .invite-colleagues__button {
    width: 343px;
    height: 40px;
    background: #3b465a;
    box-shadow: inset 0 -2px 4px 1px rgba(48, 92, 178, 0.15),
      inset 0 1px 4px rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    &:hover {
      background-color: $button-color-gray-hover;
    }
    &:focus {
      background-color: $button-color-gray-focus;
    }
    &:active {
      background-color: $button-color-gray-active;
    }
  }
}

.technology-popup__pick-technology {
  z-index: 11;
  .pick-technology__content {
    max-width: 375px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #232b39;
    border-radius: 12px;
    margin-top: 32px;
    padding-bottom: 32px;
    padding-top: 1px;
    h2 {
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      margin: 40px 24px 30px 24px;
      span {
        white-space: nowrap;
      }
    }
    .step-1__experience {
      margin-left: 24px;
      margin-right: 12px;
    }
    input {
      margin-top: 5px;
      // margin-left: 24px;
      width: 316px;
    }
  }
  .createProject-step2__buttons-popup {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: 16px 16px 28px 16px;
    display: flex;
    background: #232b39;
    border: 1px solid #3b465a;
    box-shadow: inset 0 0 10px 2px #262f3f;
    border-radius: 16px 16px 0 0;
    width: 375px;
    height: 92px;

    .u-button-blue {
      min-width: 245px;
    }
  }
}
.invited-colleagues {
  padding: 0;
  li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  p {
    padding-left: 5px;
  }
  .invited-colleagues__speciality {
    background: #2e384a;
    border-radius: 12px;
    width: 100%;
    padding: 8px 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    box-sizing: border-box;
  }
  .invited-colleagues__speciality-block {
    display: flex;
    .sign-up-link__close {
      margin-left: 20px;
      background: transparent;
    }
  }
}

@media (min-width: 768px) {
  .technology-popup__pick-technology {
    .pick-technology__content {
      max-width: 660px;
      // height: 630px;
      margin-top: 120px;
      padding-top: 1px;
      h2 {
        font-weight: bold;
        font-size: 35px;
        width: 500px;
        line-height: 40px;
        margin: 48px 56px 0 56px;
      }
      .technology-picker {
        margin: 24px 16px;
        h2 {
          display: none;
        }
      }
      .step-1__experience {
        margin-left: 24px;
        margin-right: 12px;
      }
      input {
        margin-top: 5px;
        // margin-left: 56px;
        width: 550px;
        box-sizing: border-box;
      }
    }
  }
  .technology-popup__pick-technology .createProject-step2__buttons-popup {
    position: relative;
    width: 100%;
    border: none;
    box-shadow: none;
    flex-direction: row-reverse;
    border-radius: 0 0 12px 12px;

    .u-button-blue {
      min-width: 466px;
    }
  }
  .createProject {
    width: 660px;
    .specialityOne__list {
      .button-remove-speciality {
        top: 20px;
      }
    }

    .createProject-step1__buttons {
      position: relative;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      border: none;
      border-top: 1px solid #4e5a71;
      margin-top: 32px;
      padding: 32px 0 0 0;
      .u-button {
        width: 318px;
      }
    }

    .apply-to-team-btn-back {
      padding-left: 0;
    }
    h2 {
      font-weight: bold;
      font-size: 56px;
      line-height: 64px;
      margin-top: 24px;
      margin-bottom: 38px;
    }
    .createProject-step1__progress-bar {
      width: 660px;
      height: 12px;
      .createProject__progress-bar {
        width: 165px;
      }
      .progress-bar__stepTwo {
        width: 330px;
      }
      .progress-bar__stepThree {
        width: 495px;
      }
      .progress-bar__stepFour {
        width: 660px;
      }
    }
    h4 {
      font-weight: 500;
      font-size: 17px;
      line-height: 32px;
      margin-top: 40px;
    }
    input,
    .start-date__row,
    .finish-date__row {
      width: 660px;
      height: 56px;
      padding-left: 24px;
      &::placeholder {
        font-size: 18px;
        line-height: 32px;
      }
    }
    textarea {
      width: 660px;
      height: 136px;
      padding: 12px 24px;
      &::placeholder {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .guide-comments {
      width: 620px;
      height: 56px;
    }
    .startup__start-date,
    .startup__finish-date {
      .start-date__row,
      .finish-date__row {
        width: 660px;
        .start-date__col1,
        .finish-date__col1 {
          width: 43px;
          input {
            padding-left: 6px;
            padding-right: 6px;
            width: 43px;
            margin-left: 10px;
            border-right: 1px solid #4e5a71;
            height: 24px;
            border-radius: 0;
            &::-webkit-inner-spin-button {
              display: none;
            }
          }
        }
        .start-date__col2,
        .finish-date__col2 {
          width: 46px;
          margin-right: 8px;
          input {
            padding-left: 6px;
            padding-right: 6px;
            width: 46px;
            border-right: 1px solid #4e5a71;
            height: 24px;
            border-radius: 0;
            &::-webkit-inner-spin-button {
              display: none;
            }
          }
        }
        .start-date__col3,
        .finish-date__col3 {
          width: 60px;
          input {
            padding-left: 6px;
            padding-right: 6px;
            width: 60px;
            height: 24px;
            border-radius: 0;
            &::-webkit-inner-spin-button {
              display: none;
            }
          }
        }
      }
    }
  }
  .createProject-step2,
  .createProject-step3 {
    h2 {
      font-weight: 600;
      font-size: 35px;
      line-height: 40px;
      margin-top: 40px;
      margin-bottom: 18px;
    }
    h3 {
      width: 660px;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
    }
    p {
      margin-bottom: 14px;
    }

    ul {
      margin-top: 4px;
    }
    .specialityOne__item {
      width: 660px;
      height: 56px;
      padding: 12px 24px;
      font-size: 18px;
      line-height: 32px;
    }
    .specialityOne__item.item-chosen {
      width: 620px;
    }
    .specialityOne__item-list {
      width: 660px;
    }
    .specialityOne__button {
      width: 169px;
      height: 48px;
      font-weight: bold;
      font-size: 17px;
      line-height: 32px;
    }
    .invite-colleagues h5 {
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
      width: 600px;
      p {
        font-size: 17px;
        line-height: 24px;
        display: inline;
      }
    }
    .invite-colleagues__button {
      width: 182px;
      height: 48px;
      font-weight: bold;
      font-size: 17px;
      line-height: 32px;
    }
    .existing-sources__add-link {
      width: 121px;
      height: 48px;
    }
  }
  .createProject ~ .main-footer {
    padding-bottom: 0;
  }
  .createProject-step3 h3 {
    width: 620px;
  }
}
