@mixin font-stack($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format("woff2");
  }
}
@include font-stack("Inter", normal, normal, "~assets/fonts/Inter-Light.woff2");
@include font-stack("Inter", medium, 500, "~assets/fonts/Inter-Medium.woff2");
@include font-stack("Inter", bold, 600, "~assets/fonts/Inter-SemiBold.woff2");
@include font-stack("Inter", bolder, 700, "~assets/fonts/Inter-Bold.woff2");
