.account {
  max-width: 660px;
  min-height: 490px;
  margin: 0 auto;
  margin-top: 37px;

  .create-account {
    margin: 0 16px;
  }

  .create-account__password,
  .create-account__email {
    margin: 0 0 16px 0;
  }

  .create-account__log-in {
    margin-top: 10px;
  }

  hr {
    background: #4e5a71;
    height: 1px;
    border: none;
    margin-top: 32px;
  }

  .create-account__buttons-continue {
    margin-top: 32px;

    button {
      &:last-child {
        margin-bottom: 16px;
      }
    }

    a.u-button {
      margin-bottom: 16px;
    }
  }

  .account__go-to-sign-up {
    display: flex;
    align-items: baseline;
    margin-top: 20px;

    span {
      color: $main-text-color;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
      margin-right: 8px;
    }

    .button-back span {
      color: #8c97ac;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
    }
  }
}

.errorInput {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #f87b7b;
  margin: 0;
  padding-left: 24px;
  top: -16px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url(../../assets/img/warning.svg);
  }
}
@media (min-width: 768px) {
  .account {
    min-width: 660px;

    .create-account {
      margin: 0;

      .button-back {
        margin-top: 45px;
      }
    }

    .create-account__buttons-continue {
      display: flex;
      justify-content: space-between;

      button {
        &:last-child {
          margin-top: 0;
        }
      }

      .u-button {
        width: 318px;
      }
    }

    .account__go-to-sign-up {
      margin-top: 0;

      .button-back {
        margin-top: 32px;
      }
    }
  }
}
