.testimonials {
  color: $main-text-color;
  margin-top: 55px;
  .testimonials-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin-left: 16px;
    margin-bottom: 25px;
  }
  .testimonials-content {
    display: flex;
    overflow: hidden;
    height: 326px;
    .testimonial-block {
      position: relative;
      width: 327px;
      min-width: 327px;
      height: 294px;
      margin-left: 16px;
      background: #2e384a;
      box-shadow: 0 8px 24px rgba(28, 35, 48, 0.2);
      border-radius: 12px;

      &::before {
        content: "";
        position: absolute;
        width: 96px;
        height: 48px;
        bottom: 0;
        left: calc(50% - 49px);
        background-image: url("../img/corner.svg");
        z-index: 2;
      }
    }
    h3 {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      margin: 32px 24px 16px 24px;
      max-height: 130px;
      .u-button {
        display: contents;
        font-size: 16px;
        line-height: 22px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      padding-top: 3px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 0;
    }
    .testimonial-block__position {
      color: #8c97ac;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .testimonial-block__img {
      position: absolute;
      bottom: -32px;
      left: calc(40%);
      z-index: 3;
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  .testimonials-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(59, 70, 90, 0.6);
    backdrop-filter: blur(16px);
    height: 100vh;
    width: 100vw;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    .testimonials-popup__content {
      padding: 48px 24px 32px;
      width: 343px;
      background: #232b39;
      border-radius: 12px;
      box-sizing: border-box;
      position: relative;
      .sign-up-link__close {
        position: absolute;
        background-color: transparent;
        right: 10px;
        top: 16px;
      }
      h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #dbe4f3;
        margin: 0;
      }
      .testimonials-popup__full-name {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        margin-top: 16px;
      }
      .testimonials-popup__position {
        text-align: center;
        color: #8c97ac;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }
      .testimonials-popup__img {
        display: block;
        margin: 24px auto 0 auto;
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .testimonials {
    margin-top: 150px;
    .testimonials-title {
      font-style: normal;
      font-weight: 800;
      font-size: 69px;
      line-height: 80px;
      margin-left: 48px;
    }
    .testimonials-content {
      margin-left: 36px;
    }
  }
}

@media (min-width: 1440px) {
  .testimonials {
    width: 1344px;
    margin: 0 auto;
    .testimonials-title {
      font-style: normal;
      font-weight: 800;
      font-size: 69px;
      line-height: 80px;
      margin-left: 0;
      margin-top: 170px;
      letter-spacing: 0.5px;
    }
    .testimonials-content {
      display: flex;
      overflow: hidden;
      height: 386px;
      margin-top: 40px;
      margin-left: 0;
      .testimonial-block {
        width: 432px;
        min-width: 432px;
        height: 328px;
        margin-left: 24px;
        &:first-child {
          margin-left: 0;
        }
        &::before {
          width: 120px;
          height: 60px;
          bottom: 0;
          left: calc(50% - 60px);
          background-image: url("../img/corner-big.svg");
        }
        h3 {
          font-weight: normal;
          font-size: 17px;
          line-height: 24px;
          margin: 48px 48px 14px 48px;
          min-height: 130px;
        }
        p {
          padding-top: 3px;
          text-align: center;
          margin-bottom: 0;
          margin-top: 0;
        }
        .testimonial-block__img {
          position: absolute;
          height: 88px;
          bottom: -44px;
          left: calc(40%);
          z-index: 3;
          width: 88px;
        }
      }
    }
    .testimonials-popup {
      .testimonials-popup__content {
        width: 664px;
        padding: 64px 48px 48px 48px;
        .sign-up-link__close {
          right: 20px;
          top: 24px;
        }
        h3 {
          font-size: 17px;
          line-height: 24px;
        }
        .testimonials-popup__full-name {
          font-size: 17px;
          line-height: 24px;
          margin-top: 24px;
        }
      }
    }
  }
}
