$font-stack: 'Inter',
sans-serif;
$background-color: #1C232F;
$main-text-color: #ffffff;
$second-text-colcor: #B5C1D8;
//buttons
$button-color-blue: #4B4AC8;
$button-color-blue-hover: #5E56F0;
$button-color-blue-focus: #4B4AC8;
$button-color-blue-active: #4B4AC8;
$button-color-gray: #3B465A;
$button-color-gray-hover: #59667E;
$button-color-gray-focus: #3B465A;
$button-color-gray-active: #3B465A;
$big-button: 16px 32px;
$medium-button: 9px 24px;
$small-button: 4px 24px;
$button-color: #ffffff;
$primary-color: #333;